@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

/* variable */
:root {
  --dark-bg: "#0d0d0b",  
  --base-color: #997f00;
  --dark-gray: #0c0c0b;
  --medium-gray: #6f7071;
  --medium-slate-blue: #21211e;
  --alt-font: "Bebas Neue", cursive;
  --primary-font: "Inter", sans-serif;
}

@layer base {
  body {
   @apply dark:bg-dark-900 dark:text-white;
  }
}
